[project]
	description = puppetlabs-mysql compatible galera module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Chapman (michaeltchapman)
[access "refs/for/refs/*"]
	read = group user/Michael Chapman (michaeltchapman)
	push = group user/Michael Chapman (michaeltchapman)
	label-Code-Review = -2..+2 group user/Michael Chapman (michaeltchapman)
	label-Verified = -1..+1 group user/Michael Chapman (michaeltchapman)
	rebase = group user/Michael Chapman (michaeltchapman)
	removeReviewer = group user/Michael Chapman (michaeltchapman)
	submit = group user/Michael Chapman (michaeltchapman)
[access "refs/heads/*"]
	read = group user/Michael Chapman (michaeltchapman)
	create = group user/Michael Chapman (michaeltchapman)
	push = +force group user/Michael Chapman (michaeltchapman)
	pushMerge = group user/Michael Chapman (michaeltchapman)
[access "refs/tags/*"]
	push = +force group user/Michael Chapman (michaeltchapman)
	pushTag = group user/Michael Chapman (michaeltchapman)
	pushSignedTag = group user/Michael Chapman (michaeltchapman)
