---
name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        puppet_version: [7]

    name: Check / Puppet ${{ matrix.puppet_version }}
    runs-on: ubuntu-22.04
    container: puppet/pdk:latest

    steps:
      - name: Install build-essential
        run: |
          export DEBIAN_FRONTEND=noninteractive;
          apt-get --yes update
          apt-get --yes install build-essential

      - name: Checkout
        uses: actions/checkout@v4

      - name: Run pdk validate
        run: pdk validate --format=text --puppet-version ${{ matrix.puppet_version }}

      - name: Run pdk test unit
        run: pdk test unit --format=text --puppet-version ${{ matrix.puppet_version }}

  acceptance:
    strategy:
      fail-fast: false
      matrix:
        os: ['rocky8', 'ub2204', 'deb11']
        puppet_version: [7]
        vendor_type: ['codership', 'mariadb', 'percona']

    name: Acceptance / ${{ matrix.os }} / ${{ matrix.vendor_type }} / Puppet ${{ matrix.puppet_version }}
    runs-on: ubuntu-22.04
    needs:
      - check

    steps:
      - name: Enable IPv6 on docker
        run: |
          echo '{"ipv6":true,"fixed-cidr-v6":"2001:db8:1::/64"}' | sudo tee /etc/docker/daemon.json
          sudo service docker restart

      # Disable AppArmor, otherwise MySQL tests fail on GitHub Actions
      # https://github.com/actions/virtual-environments/issues/181#issuecomment-610874237
      - name: apparmor
        run: |
            set -x
            sudo apt-get remove mysql-server --purge
            sudo apt-get install apparmor-profiles
            sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
          bundler-cache: true

      - name: Run Litmus
        env:
          VENDOR_TYPE: ${{ matrix.vendor_type }}
          DEBUG: true
        run: |
          bundle exec rake 'litmus:provision_list[gha_${{ matrix.os }}]'
          bundle exec rake 'litmus:install_agent[puppet${{ matrix.puppet_version }}]'
          bundle exec rake litmus:install_module
          bundle exec rake litmus:acceptance:parallel

      - name: Cleanup
        run: |
          bundle exec rake 'litmus:tear_down'
